Location: {{ location.name }}

<br />
<br />

Players in this location:
<br />
{% for player in otherPlayers %}
    {{ player.getName() }}
    <br />
{% endfor %}

<br />
<br />

{{ location.description }}

<br />
<br />

{% if north is defined and north is not empty %}
<a href="{{ url('game_move_character_to_location', {'characterId': character.getId(), 'locationId': north}) }}">Move North</a>
<br />
{% endif %}
{% if east is defined and east is not empty %}
<a href="{{ url('game_move_character_to_location', {'characterId': character.getId(), 'locationId': east}) }}">Move East</a>
<br />
{% endif %}
{% if south is defined and south is not empty %}
<a href="{{ url('game_move_character_to_location', {'characterId': character.getId(), 'locationId': south}) }}">Move South</a>
<br />
{% endif %}
{% if west is defined and west is not empty %}
<a href="{{ url('game_move_character_to_location', {'characterId': character.getId(), 'locationId': west}) }}">Move West</a>
<br />
{% endif %}